@font-face {
  font-family: "Georgia", "ARIAL";
  src: url("/assets/fonts/Georgia.ttf"), url("/assets/fonts/ARIAL.TTF");
}

* {
  box-sizing: border-box;
}

body {
  background: black;
  text-align: center;
  margin: auto;
  max-width: 1280px;
  overflow-x: hidden;
}

#main {
  background: url("../../assets/images/start-screen-background.jpg") no-repeat;
  max-width: 1280px;
}

#logo a {
  text-decoration: none;
}
#header{
    height: 174px;
}
header h1 {
  font-family: "Georgia", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: 2px;
  line-height: 110%;
  color: #f1cdb3;
  margin-top: 36px;
  margin-bottom: 0;
}

header h5 {
  font-family: "ARIAL", sans-serif;
  letter-spacing: 1.4px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  margin-top: 11px;
  color: #ffffff;
}
nav {
  display: flex;
  padding: 0;
  margin: 0;
}
#navLinks {
  display:flex;
  list-style: none;
  height: 2rem;
}

#navLinks a {
  text-decoration: none;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #cdcdcd;
}

#navLinks a:hover {
  color: #fafafa;
  padding-bottom: 3px;
  border-bottom: 2px solid #f1cdb3;
}
.topcol1 {
  flex: 3 7;
  text-align: left;
  padding: 22px 22px 22px 42px;
}
.topcol2 {
  flex: 2;
}
.topcol3 {
  flex: 3 2 2px;
  padding: 0;
  margin-top: 77px;
  display: flex;
  justify-content: space-around;
}
/* hidden side bar*/
#sideBar{
  display: none;
  flex-direction: column;
  background-color: #292929;
  transition: all 1s ease-in-out;
  width: 320px;
  z-index:2;
  position: absolute;
  height: 100vh;
  right: -320px;
}

#sideBar-logo{
  display: none;
  padding-left: 17px;
}

#sideBar-icon {
  display: none;
  z-index:3;
}
#sideBar-links{
  display: none;
  justify-content: center;
  margin-top: 41px;
}
.hiddenScroll {
  overflow: -moz-scrollbars-horizontal;
  overflow-y: hidden;
  overflow-x: auto;
  }
  #sideBar-links ul{
    list-style: none;
    padding:0;
  }
  #sideBar-links li{
    margin-top: 30px;
  }
  #sideBar-links a{
    color: #cdcdcd;
  }
  .menu-overlay{
    background-color: #211F20;
    margin: 0;
cursor:pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 90%;
    position: absolute;
    transition: 0.5s;
    top:0;
  }
/* ------------------ */
.lines {
  width: 35px;
  height: 5px;
  background-color: #f1cdb3;
  border-radius: 10px;
  margin-bottom: 8px;
}

.active {
  color: #fafafa;
  padding-bottom: 3px;
  border-bottom: 2px solid #f1cdb3;
}
/* notOnly block flex container */
#notOnly {
  max-width: 1280px;
  height: 727px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  padding-left: 40px;
}
#notOnly-textarea{
  display: inline-flex;
  flex-direction: column;
  padding-top: 168px;
  row-gap: 42px;
}
#notOnly h2 {
  text-align: left;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #ffffff;
  margin: 0;
}

#notOnly p {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  max-width: 469px;
  text-align: left;
  margin: 0;
  line-height: 160%;
  color: #cdcdcd;
}


#notOnly a {
  padding: 15px 44px;
  width: 208px;
  text-decoration: none;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
  background: #f1cdb3;
  border-radius: 100px;
}

#notOnly a:hover {
  background: #fddcc4;
}

#main-image {
  flex-shrink: 3;
  flex-grow: 1;
  width: 698px;
  height: 728px;
}

/* about flex container */
#about {
  width: 1280px;
  height: 602px;
  display: flex;
  background-color: #ffffff;
  padding-left: 217px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pets-image {
  width: 300px;
  height: 408px;
}

#right-block {
  display: flex;
  flex-direction: column;
  padding-right: 99px;
}

#right-block h3 {
  width: 336px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  margin: 0;
  line-height: 130%;
  color: #545454;
  position: relative;
  bottom: 4px;
  letter-spacing: 2px;
  text-align: left;
}

#right-block p {
  position: relative;
  top: 5px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: left;
  width: 430px;
  line-height: 160%;
  color: #4c4c4c;
}
/* pets block flex container */
#pets {
  width: 1280px;
  height: 877px;
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pets h3 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  letter-spacing: 0.06em;
  line-height: 130%;
  width: 400px;
  height: 90px;
  color: #545454;
  margin-top: 77px;
}
#petsItem2 {
  display: flex;
  align-items: center;
  column-gap: 54px;
}
.right-arrow {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 11px 13px;
  cursor: pointer;
  width: 52px;
  order: 1;
  height: 52px;
}

.right-arrow:hover {
  background: #fddcc4;
}

.right-arrow img {
  cursor: pointer;
}

.left-arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  padding: 13px;
}

.left-arrow:hover {
  background: #fddcc4;
  cursor: pointer;
}

.left-arrow img {
  cursor: pointer;
}

#card-list {
  display: flex;
  column-gap: 91px;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  animation: fadein 2s;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
#card-list li {
  width: 270px;
  height: 435px;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  align-items: center;
  background: #fafafa;
  justify-content: space-around;
}

#card-list li:hover {
  background: #ffffff;
  cursor: pointer;
}
.hiddenItem {
  display: flex;
}
.hiddenItemMobile {
  display: flex;
}

#card-list li h5 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #545454;
  letter-spacing: 0.06em;
}

#card-list li button {
  border: 2px solid #f1cdb3;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #fafafa;
  width: 187px;
  height: 52px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  margin-bottom: 24px;
}

#card-list li:hover > button {
  background: #fddcc4;
  cursor: pointer;
}

#pets a {
  background: #f1cdb3;
  border-radius: 100px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #292929;
  padding: 15px 0;
  width: 261px;
  margin-top: 49px;
  height: 52px;
}

#pets a:hover {
  background: #fddcc4;
}
/* help block flex container */
#help {
  width: 1280px;
  height: 611px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#help img {
  width: 60px;
  height: 60px;
}

#help h3 {
  width: 310px;
  height: 90px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  padding-top: 44px;
}

#first-row {
  display: flex;
  width: 1031px;
  padding: 0;
  column-gap: 119px;
  row-gap: 46px;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 47px;
}

#first-row li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#first-row p {
  position: relative;
  top: 11px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
}

#in-addition {
  padding-left: 145px;
  width: 1280px;
  height: 462px;
  background: #f6f6f6;
  padding-bottom: 54px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 140px;
}

#info img {
  width: 505px;
  height: 261px;
}
#puppyimg {
  width: 505px;
  height: 261px;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 298px;
  margin-top: 49px;
}

#info h3 {
  width: 300px;
  height: 79px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  text-align: left;
  color: #545454;
  margin: 0;
}

#info h5 {
  position: relative;
  top: 2px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-align: left;
  margin: 0;
}

#credit-card {
  display: flex;
  background: #f1cdb3;
  border-radius: 9px;
  width: 349px;
  height: 43px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

#credit-card:hover {
  background: #fddcc4;
  cursor: pointer;
}

#credit-card h4 {
  position: relative;
  left: 8px;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

#credit-card img {
  position: relative;
  top: 0;
  right: 7px;
  width: 30px;
  height: 23px;
}

#info p {
  width: 380px;
  height: 72px;
  text-align: left;
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

#footer {
  background: url(../../assets/images/footer-gradient-background.png);
  width: 1280px;
  height: 350px;
  position: relative;
  bottom: 5px;
  display: flex;
  align-items: center;
  column-gap: 146px;
  justify-content: center;
}

#first-col {
  display: flex;
  padding-left: 0;
  flex-direction: column;
  justify-content: space-around;
}

#footer-first-row {
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
}

#footer-second-row {
  display: flex;
  text-decoration: none;
  justify-content: flex-start;
  column-gap: 20px;
  align-items: center;
}

#first-header {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-align: left;
  width: 300px;
  margin-bottom: 8px;
}

#first-col h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #f1cdb3;
}
#first-col img {
  height: 28px;
}

#second-col {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 30px;
  width: 310px;
  padding-top: 17px;
}

#second-header {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 273px;
  margin: 0;
}

#first-pin {
  display: flex;
  text-decoration: none;
  align-items: center;
  column-gap: 20px;
  width: 299px;
}
#first-pin img {
  width: 22px;
  height: 32px;
}

#second-pin {
  display: flex;
  column-gap: 20px;
  text-decoration: none;
}

#second-col h4 {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  width: 300px;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  margin: 0;
}

#footer-puppy {
  width: 300px;
  margin-top: 42px;
  height: 310px;
}

@media screen and (max-width: 767.9px) {
  body {
    max-width: 768px;
  }
  #main {
    background-size: 768px 1165px;
      max-width: 768px;

  }
  #header{
    height: 114px;
}
#navLinks {
  display:none;

}
#sideBar-icon {
  flex:1 7;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding-right: 14px;
  margin-top: 45px;
  /* margin-left: 413px; */
  justify-content: center;
}

#header{
  height: 91px;
}
.topcol1 {
  flex-shrink: 2;
  flex-grow: 8;
  padding: 0 0 0 28px;
}



header h5 {
  margin: 0;
  line-height: 19px;
}
.topcol2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 39px;
  padding-right: 30px;
  cursor: pointer;
}
.topcol3 {
  display: none;
}
nav a {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
  display: flex;
  text-decoration: none;
  flex-direction: column;
}
.lines {
  width: 28px;
  height: 2px;
  background-color: #f1cdb3;
  border-radius: 10px;
  margin-bottom: 8px;
}

  #notOnly {
    flex-wrap: nowrap;
    align-items: center;
    height: 1074px;
    max-width: 768px;
  }
  #notOnly-textarea{
    padding-top: 62px;
    row-gap: 38px;
  }
  #notOnly h2 {
    margin-right: 119px;
    padding: 0;
  }
  #notOnly p {
    padding: 0;
    width: 462px;
  }
  #notOnly a {
    margin-top: 4px;
    margin-left: 122px;
  }
  #main-image {
    width: 569px;
    height: 593px;
    margin-top: 102px;
    margin-left: 125px;
  }
  #about {
    width: 768px;
    height: 1053px;
    align-items: center;
    padding-left: 99px;
    padding-top: 48px;
  }
  #pets-image {
    order: 1;
    margin-bottom: 65px;
    margin-right: 103px;
  }
  #pets {
    width: 768px;
  }
  #petsItem2 {
    column-gap: 12px;
  }
  #card-list {
    column-gap: 45px;
  }
  #card-list .hiddenItem {
    display: none;
  }
  #pets a {
    margin-top: 44px;
  }
  #help {
    width: 768px;
    height: 773px;
  }
  #first-row {
    width: 768px;
    column-gap: 64px;
  }
  #first-row li {
    width: 166px;
  }
  #in-addition {
    width: 768px;
    height: 789px;
    flex-direction: column;
    padding-bottom: 0;
  }
  #info img {
    order: 1;
    margin-bottom: 20px;
  }
  #puppyimg {
    order: 1;
    margin-bottom: 20px;
  }
  #info {
    row-gap: 20px;
    height: 277px;
    margin-top: 0;
  }
  #info h3 {
    margin: 0;
  }
  #credit-card img {
    top: 10px;
    right: 281px;
  }
  #credit-card h4 {
    left: 39px;
  }
  #info p {
    margin-top: 0;
    top: 0;
  }
  #footer {
    width: 768px;
    height: 639px;
    column-gap: 44px;
    flex-wrap: wrap;
    background-size: inherit;
  }
}

@media (max-width: 320px) {
  body {
    max-width: 320px;
  }


.topcol1{
  padding: 0 0 0 10px;
}
  #notOnly {
    height: 734px;
  }
  #notOnly-textarea {
    padding-top: 24px;
    row-gap: 0px;
    align-items: center;
  }
  #notOnly h2 {
    text-align: center;
    font-size: 25px;
    margin: 0;
    margin-top: 36px;
    height: 107px;
    letter-spacing: 0.06em;
  }
  #notOnly p {
    text-align: center;
    max-width: 301px;
  }
  #notOnly a {
    margin-top: 38px;
    margin-left: 5px;
  }
  #main-image {
    width: 260px;
    height: 272px;
    margin-top: 107px;
    margin-left: 55px;

  }
  #about {
    width: 320px;
    height: 974px;
    text-align: center;
    padding: 0;
    flex-wrap: wrap;
  }
  #pets-image {
    width: 260px;
    height: 353.6px;
    margin-right: 115px;
    margin-bottom: 19px;
  }
  #right-block {
    align-items: center;
    row-gap: 22px;
  }
  #right-block h3 {
    font-size: 25px;
    line-height: 130%;
    text-align: center;
    width: 321px;
    padding: 23px 19px 0 24px;
    letter-spacing: 0.06em;
  }
  #right-block p {
    width: 269px;
    margin: 0;
    text-align: justify;
  }
  #pets {
    width: 320px;
    height: 789px;
  }
  #card-list .hiddenItemMobile {
    display: none;
  }
  #pets h3 {
    letter-spacing: 0.06em;
    font-size: 25px;
    line-height: 130%;
    margin-top: 42px;
    margin-bottom: 0;
  }
  .right-arrow {
    order: 2;
  }
  .left-arrow {
    order: 1;
  }
  #petsItem2 {
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 83px;
    row-gap: 5px;
  }
  #pets a {
    margin-top: 42px;
  }
  #help {
    width: 320px;
    height: 748px;
  }
  #help h3 {
    font-size: 25px;
    line-height: 130%;
    letter-spacing: 0.06em;
    margin-top: 0px;
  }
  #first-row {
    width: 350px;
    column-gap: 0px;
    row-gap: 24px;
    margin-top: 35px;
    padding-top: 0;
    justify-content: flex-start;
  }
  #first-row p {
    font-size: 15px;
  }
  #first-row li {
    width: 170px;
  }
  #help img {
    width: 50px;
    height: 50px;
  }
  #first-row p {
    font-size: 15px;
    letter-spacing: 0.06em;
    margin-top: 11px;
  }
  #in-addition {
    width: 320px;
    height: 549px;
    padding-right: 0;
    padding-left: 0;
  }
  #info {
    align-items: center;
  }
  #info h3 {
    text-align: center;
    letter-spacing: 0.06em;
    font-size: 25px;
    line-height: 130%;
    width: 225px;
  }
  #info h5 {
    letter-spacing: 0;
  }
  #credit-card {
    width: 280px;
  }
  #info p {
    width: 278px;
    text-align: justify;
    margin: 10px;
  }
  #info img{
    right: 213px;
  }
  #puppyimg {
    width: 260px;
    height: 135.2px;
    margin-bottom: 10px;
  }
  #credit-card h4 {
    font-size: 15px;
  }
  #footer{
    width: 320px;
    height: 813px;
  }
  #footer-puppy{
    width: 260px;
    height: 269px;
    margin-top: 63px;
  }
  #footer h3{
      font-size: 25px;
      text-align: center;
  }
  #footer a{
      font-size: 20px;
      justify-content: center;
}
#second-col{
    align-items: center;
}
#second-col h4{
    width: 257px;
}

  
}
