    @font-face {
        font-family: "Georgia", "ARIAL";
        src: url("/assets/fonts/Georgia.ttf"), url("/assets/fonts/ARIAL.TTF");
    }
    
    body {
        background: black;
        text-align: center;
        margin: auto;
        width: 1280px;
        overflow-x: hidden;
    }
    
    header {
        background-color: #FFFFFF;
    }
    
    #pets-logo a {
        text-decoration: none;
    }
    
    #pets-logo h1 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 110%;
        text-align: left;
        letter-spacing: 0.06em;
        color: #545454;
        margin: 0;
        position: relative;
        left: 39px;
        top: 31px;
    }
    
    #pets-logo h5 {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.1em;
        color: #292929;
        text-align: left;
        position: relative;
        left: 44px;
        top: 17px;
    }
    
    nav {
        position: relative;
        bottom: 47px;
        left: 796px;
    }
    
    nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        width: 442px;
    }
    
    nav a {
        text-decoration: none;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #545454;
    }
    
    nav a:hover {
        color: #292929;
        padding-bottom: 3px;
        border-bottom: 2px solid #F1CDB3;
    }
    
    .active {
        color: #292929;
        padding-bottom: 3px;
        border-bottom: 2px solid #F1CDB3;
    }
    
    #pets-block {
        background: #F6F6F6;
        margin: 0;
        position: relative;
        bottom: 16px;
    }
    
    #pets-block h3 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        letter-spacing: 0.06em;
        line-height: 130%;
        color: #545454;
        position: relative;
        top: 83px;
        margin: 0;
    }
    
    #pets-block ul {
        display: flex;
        position: relative;
        top: 141px;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
        row-gap: 31px;
    }
    
    #pets-block ul li {
        Width: 270px;
        Height: 435px;
        display: flex;
        flex-direction: column;
        border-radius: 9px;
        align-items: center;
        background: #FAFAFA;
    }
    
    #pets-block ul li:hover {
        background: #FFFFFF;
        cursor: pointer;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    
    #pets-block ul li h5 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: #545454;
        letter-spacing: 0.06em;
    }
    
    #pets-block ul li button {
        border: 2px solid #F1CDB3;
        box-sizing: border-box;
        border-radius: 100px;
        background-color: #FAFAFA;
        width: 187px;
        height: 52px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #292929;
    }
    
    #pets-block ul li:hover>button {
        background: #FDDCC4;
        cursor: pointer;
    }
    
    #page-counter {
        padding: 199px 0 104px 0;
    }
    
    #page-counter button {
        width: 52px;
        position: relative;
        left: 7px;
        height: 52px;
        margin-right: 16px;
        border-radius: 100px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
    }
    
    .disabled {
        color: #CDCDCD;
        border: 2px solid #CDCDCD;
        background: #F6F6F6;
    }
    
    .counter {
        background: #F1CDB3;
        border: none;
    }
    
    .enabled {
        border: 2px solid #F1CDB3;
        color: #292929;
        background: #F6F6F6;
    }
    
    .enabled:hover {
        background: #FDDCC4;
        cursor: pointer;
    }
    
    #footer {
        background: url(../../assets/images/footer-gradient-background.png);
        Width: 1280px;
        Height: 350px;
        position: relative;
        bottom: 16px;
        display: flex;
        justify-content: space-evenly;
    }
    
    #first-col {
        display: flex;
        flex-direction: column;
        position: relative;
        right: 15px;
        width: 239px;
        justify-content: space-around;
    }
    
    #footer-first-row {
        display: flex;
        position: relative;
        bottom: 16px;
        right: 51px;
        width: 217px;
        text-decoration: none;
        padding: 0;
        justify-content: space-between;
    }
    
    #footer-second-row {
        display: flex;
        position: relative;
        bottom: 31px;
        right: 51px;
        width: 222px;
        padding: 0;
        text-decoration: none;
        justify-content: space-between;
    }
    
    #first-header {
        position: relative;
        right: 50px;
        top: 12px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        text-align: left;
        width: 300px;
    }
    
    #first-col h4 {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        letter-spacing: 0.06em;
        color: #F1CDB3;
        position: relative;
        left: 20px;
    }
    
    #second-col {
        text-align: left;
        position: relative;
        left: 32px;
    }
    
    #second-header {
        position: relative;
        top: 20px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 35px;
        line-height: 130%;
        letter-spacing: 0.06em;
        color: #FFFFFF;
        width: 300px;
    }
    
    #first-pin {
        display: flex;
        position: relative;
        bottom: 8px;
        text-decoration: none;
    }
    
    #second-pin {
        display: flex;
        position: relative;
        bottom: 23px;
        text-decoration: none;
    }
    
    #second-col h4 {
        position: relative;
        left: 21px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 115%;
        width: 300px;
        letter-spacing: 0.06em;
        color: #F1CDB3;
    }
    
    #footer-puppy {
        position: relative;
        top: 40px;
        left: 69px;
        width: 300px;
        height: 310px;
    }